<div *ngIf="collectionData == null; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    <span *ngIf="message != null">{{ message }}</span>
    <textarea
        [(ngModel)]="rawJSON" 
        placeholder="Please provide the JSON array with objects">
    </textarea>

    <button (click)="onParseCollectionClick()">Parse data</button>
</ng-template>
<ng-template #elseBlock>
    <app-table [data]="collectionData"></app-table>
    <button (click)="editData()">Edit data</button>
</ng-template>
