<div *ngIf="collection == null; then hasCollection else hasNotCollection"></div>
<ng-template #hasCollection>
    <span *ngIf="message != null">{{ message }}</span>
    <textarea
        [(ngModel)]="rawJSON" 
        placeholder="Please provide the JSON array with objects">
    </textarea>

    <button (click)="onParseCollectionClick()">Parse data</button>
</ng-template>
<ng-template #hasNotCollection>
    <app-table [data]="collection"></app-table>
    <button (click)="editData()">Edit data</button>
</ng-template>
