<h1>Collections mixer</h1>

<app-collection-wrapper (collectionSet)="collectionASet($event)"></app-collection-wrapper>
<app-collection-wrapper (collectionSet)="collectionBSet($event)"></app-collection-wrapper>

<div *ngIf="areBothCollectionSet()">
    <app-choose-operation
        [columnsForFirstCollection]="aCollectionColumns()"
        [columnsForSecondCollection]="bCollectionColumns()"
        (operationChoose)="onOperationChoose($event)">
    </app-choose-operation>
</div>

<app-collection-wrapper *ngIf="resultCollection" [rawJSON]="resultAsJSON()">
</app-collection-wrapper>