<h1>Collections mixer</h1>

<app-collection-wrapper name="a" (collectionSet)="collectionSet($event)"></app-collection-wrapper>
<app-collection-wrapper name="b" (collectionSet)="collectionSet($event)"></app-collection-wrapper>

<div *ngIf="areBothCollectionSet()">
    <app-choose-operation
        [columnsForFirstCollection]="collections['a'].metadata"
        [columnsForSecondCollection]="collections['b'].metadata"
        (operationChoose)="onOperationChoose($event)">
    </app-choose-operation>
</div>

<app-collection-wrapper
    *ngIf="collections.hasOwnProperty('r')"
    name="r"
    (collectionSet)="collectionSet($event)">
</app-collection-wrapper>
