<ng-container [ngSwitch]="mode">
    <ng-container *ngSwitchCase="'edit'">
        <app-error-message [value]="message"></app-error-message>
        <textarea [(ngModel)]="rawJSON"
                  placeholder="Please provide the JSON array with objects">
        </textarea>

        <button class="full-width" (click)="onParseCollectionClick()">Parse data</button>
    </ng-container>
    <ng-container *ngSwitchCase="'table'">
        <app-table [data]="collection" (primaryKeyColumnSet)="primaryKeyColumnSet.emit($event)"></app-table>

        <button class="edit-data" (click)="editData()">Edit data</button>
        <button class="show-as-csv" (click)="showAsCSV()">Show CSV</button>
    </ng-container>
    <ng-container *ngSwitchCase="'csv'">
        <textarea readonly="readonly">{{ csv() }}</textarea>

        <button class="edit-data" (click)="editData()">Edit data</button>
        <button class="show-as-csv" (click)="closeCSVView()">Close CSV</button>
    </ng-container>
    <ng-container *ngSwitchDefault>
        [Error] unknown mode: {{ mode }}.
    </ng-container>
</ng-container>