<table>
    <thead>
        <tr>
            <th class="index"></th>
            <th *ngFor="let column of data.columns">{{ column }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let datum of data.data; let i = index">
            <td class="index">
                {{ i }}
            </td>
            <td *ngFor="let column of data.columns" [class.empty]="!datum.hasOwnProperty(column)">
                {{ datum.hasOwnProperty(column) ? datum[column] : 'null' }}
            </td>
        </tr>
    </tbody>
</table>
