table {
    width          : 100%;
    border-collapse: collapse;
    border-spacing : 0;

    td,
    th {
        min-width: 100px;
        padding  : 10px 5px;
    }

    th {
        -webkit-user-select: none;
        -ms-user-select    : none;
        user-select        : none;
    }

    .index {
        min-width: 30px;
        width    : 30px;
    }

    thead th {
        background: darkslategray;
        overflow  : hidden;
        word-break: normal;
        color     : white;
    }

    tbody {
        tr:nth-child(odd) {
            background-color: #b8d1f3;
        }

        tr:nth-child(even) {
            background-color: #dae5f4;
        }

        td {
            overflow      : hidden;
            word-break    : normal;
            text-align    : center;
            vertical-align: middle;
        }

        td.index {
            background: darkslategray;
            color     : white;
        }

        td.empty {
            font-style: italic;
        }
    }
}