<table>
    <thead>
        <tr>
            <th class="index"></th>
            <th *ngFor="let column of data.columns">
                <span *ngIf="data.order?.column == column">
                    <span *ngIf="data.order.asc">&#9650;</span>
                    <span *ngIf="!data.order.asc">&#9660;</span>
                </span>
                <span (click)="sortByColumn(column)">{{ column }}</span>
                <button (click)="setAsPrimaryKey(column)" *ngIf="!readonly && primaryKeyColumn != column">Set as primary
                    key</button>
                <span class="note" *ngIf="!readonly && primaryKeyColumn == column">Primary key</span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let datum of data.data; let i = index">
            <td class="index">
                {{ i }}
            </td>
            <td *ngFor="let column of data.columns" [class.empty]="!datum.hasOwnProperty(column)">
                {{ datum.hasOwnProperty(column) ? datum[column] : 'null' }}
            </td>
        </tr>
        <tr *ngIf="!data.data || data.data.length == 0">
            <td>The collection is empty.</td>
        </tr>
    </tbody>
</table>
